swagger: '2.0'
info:
  description: The DevTest Labs Client.
  title: DevTestLabsClient ArmTemplates Artifacts API
  version: '2.0'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: devtestlabs-DTL
  x-tags:
  - Azure
  - Microsoft
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: Artifacts
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts
  : get:
      description: List artifacts in a given artifact source.
      operationId: Artifacts_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        type: string
        example: example-value
      - description: 'Specify the $expand query. Example: ''properties($select=title)'''
        in: query
        name: $expand
        type: string
        example: example-value
      - description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'')'
        in: query
        name: $filter
        type: string
        example: example-value
      - description: 'The maximum number of resources to return from the operation. Example: ''$top=10'''
        format: int32
        in: query
        name: $top
        type: integer
        example: example-value
      - description: 'The ordering expression for the results, using OData notation. Example: ''$orderby=name desc'''
        in: query
        name: $orderby
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ArtifactList'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Artifacts
      x-ms-odata: '#/definitions/Artifact'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure DevTest Labs Artifacts_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}
  : get:
      description: Get artifact.
      operationId: Artifacts_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        type: string
        example: example-value
      - description: The name of the artifact.
        in: path
        name: name
        required: true
        type: string
        example: example-value
      - description: 'Specify the $expand query. Example: ''properties($select=title)'''
        in: query
        name: $expand
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Artifact'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Artifacts
      summary: Azure DevTest Labs Artifacts_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}/generateArmTemplate
  : post:
      description: Generates an ARM template for the given artifact, uploads the required files to a storage account, and validates the generated artifact.
      operationId: Artifacts_GenerateArmTemplate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        type: string
        example: example-value
      - description: The name of the artifact.
        in: path
        name: name
        required: true
        type: string
        example: example-value
      - description: Parameters for generating an ARM template for deploying artifacts.
        in: body
        name: generateArmTemplateRequest
        required: true
        schema:
          $ref: '#/definitions/GenerateArmTemplateRequest'
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ArmTemplateInfo'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Artifacts
      summary: Azure DevTest Labs Artifacts_ Generate Arm Template
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
definitions:
  ParameterInfo:
    description: Information about an artifact's parameter.
    properties:
      name:
        description: The name of the artifact parameter.
        type: string
      value:
        description: The value of the artifact parameter.
        type: string
    type: object
  Resource:
    description: An Azure resource.
    properties:
      id:
        description: The identifier of the resource.
        readOnly: true
        type: string
      location:
        description: The location of the resource.
        type: string
      name:
        description: The name of the resource.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: The tags of the resource.
        type: object
      type:
        description: The type of the resource.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  ArtifactProperties:
    description: Properties of an artifact.
    properties:
      createdDate:
        description: The artifact's creation date.
        format: date-time
        readOnly: true
        type: string
      description:
        description: The artifact's description.
        readOnly: true
        type: string
      filePath:
        description: The file path to the artifact.
        readOnly: true
        type: string
      icon:
        description: The URI to the artifact icon.
        readOnly: true
        type: string
      parameters:
        description: The artifact's parameters.
        readOnly: true
        type: object
      publisher:
        description: The artifact's publisher.
        readOnly: true
        type: string
      targetOsType:
        description: The artifact's target OS.
        readOnly: true
        type: string
      title:
        description: The artifact's title.
        readOnly: true
        type: string
    type: object
  CloudError:
    description: Error from a REST request.
    properties:
      error:
        $ref: '#/definitions/CloudErrorBody'
        description: The cloud error that occurred
    type: object
    x-ms-external: true
  ArmTemplateInfo:
    description: Information about a generated ARM template.
    properties:
      parameters:
        description: The parameters of the ARM template.
        type: object
      template:
        description: The template's contents.
        type: object
    type: object
  CloudErrorBody:
    description: Body of an error from a REST request.
    properties:
      code:
        description: The error code.
        type: string
      details:
        description: Inner errors.
        items:
          $ref: '#/definitions/CloudErrorBody'
        type: array
      message:
        description: The error message.
        type: string
      target:
        description: The error target.
        type: string
    type: object
    x-ms-external: true
  GenerateArmTemplateRequest:
    description: Parameters for generating an ARM template for deploying artifacts.
    properties:
      fileUploadOptions:
        description: Options for uploading the files for the artifact. UploadFilesAndGenerateSasTokens is the default value.
        enum:
        - UploadFilesAndGenerateSasTokens
        - None
        type: string
        x-ms-enum:
          modelAsString: true
          name: FileUploadOptions
      location:
        description: The location of the virtual machine.
        type: string
      parameters:
        description: The parameters of the ARM template.
        items:
          $ref: '#/definitions/ParameterInfo'
        type: array
      virtualMachineName:
        description: The resource name of the virtual machine.
        type: string
    type: object
  Artifact:
    allOf:
    - $ref: '#/definitions/Resource'
    description: An artifact.
    properties:
      properties:
        $ref: '#/definitions/ArtifactProperties'
        description: The properties of the resource.
        x-ms-client-flatten: true
    required:
    - properties
    type: object
  ArtifactList:
    description: The response of a list operation.
    properties:
      nextLink:
        description: Link for next set of results.
        type: string
      value:
        description: Results of the list operation.
        items:
          $ref: '#/definitions/Artifact'
        type: array
    type: object
parameters:
  resourceGroupName:
    description: The name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: The subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
  api-version:
    default: '2018-09-15'
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: OAuth2 Implicit Grant
    flow: implicit
    scopes:
      user_impersonation: Access Microsoft Azure
    type: oauth2
