openapi: 3.2.0
info:
  description: The DevTest Labs Client.
  title: DevTestLabsClient Policy Sets API
  version: '2018-09-15'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: devtestlabs-DTL
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Policy Sets
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{name}/evaluatePolicies
  : post:
      description: Evaluates lab policy.
      operationId: PolicySets_EvaluatePolicies
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the policy set.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluatePoliciesResponse'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Policy Sets
      summary: Azure DevTest Labs Policy Sets_ Evaluate Policies
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluatePoliciesRequest'
        description: Request body for evaluating a policy set.
        required: true
components:
  schemas:
    CloudError:
      description: Error from a REST request.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The cloud error that occurred
      type: object
      x-ms-external: true
    EvaluatePoliciesProperties:
      description: Properties for evaluating a policy set.
      properties:
        factData:
          description: The fact data.
          type: string
        factName:
          description: The fact name.
          type: string
        userObjectId:
          description: The user for which policies will be evaluated
          type: string
        valueOffset:
          description: The value offset.
          type: string
      type: object
    CloudErrorBody:
      description: Body of an error from a REST request.
      properties:
        code:
          description: The error code.
          type: string
        details:
          description: Inner errors.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: The error message.
          type: string
        target:
          description: The error target.
          type: string
      type: object
      x-ms-external: true
    PolicySetResult:
      description: Result of a policy set evaluation.
      properties:
        hasError:
          description: A value indicating whether this policy set evaluation has discovered violations.
          type: boolean
        policyViolations:
          description: The list of policy violations.
          items:
            $ref: '#/components/schemas/PolicyViolation'
          type: array
      type: object
    EvaluatePoliciesRequest:
      description: Request body for evaluating a policy set.
      properties:
        policies:
          description: Policies to evaluate.
          items:
            $ref: '#/components/schemas/EvaluatePoliciesProperties'
          type: array
      type: object
    PolicyViolation:
      description: Policy violation.
      properties:
        code:
          description: The code of the policy violation.
          type: string
        message:
          description: The message of the policy violation.
          type: string
      type: object
    EvaluatePoliciesResponse:
      description: Response body for evaluating a policy set.
      properties:
        results:
          description: Results of evaluating a policy set.
          items:
            $ref: '#/components/schemas/PolicySetResult'
          type: array
      type: object
  parameters:
    subscriptionId:
      description: The subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    resourceGroupName:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    api-version:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        default: '2018-09-15'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Access Microsoft Azure
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: OAuth2 Implicit Grant
