openapi: 3.2.0
info:
  description: The DevTest Labs Client.
  title: DevTestLabsClient Disks API
  version: '2018-09-15'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: devtestlabs-DTL
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Disks
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/disks
  : get:
      description: List disks in a given user profile.
      operationId: Disks_List
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        example: example-value
        schema:
          type: string
      - description: 'Specify the $expand query. Example: ''properties($select=diskType)'''
        in: query
        name: $expand
        example: example-value
        schema:
          type: string
      - description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'')'
        in: query
        name: $filter
        example: example-value
        schema:
          type: string
      - description: 'The maximum number of resources to return from the operation. Example: ''$top=10'''
        in: query
        name: $top
        example: example-value
        schema:
          type: integer
          format: int32
      - description: 'The ordering expression for the results, using OData notation. Example: ''$orderby=name desc'''
        in: query
        name: $orderby
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskList'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Disks
      x-ms-odata: '#/definitions/Disk'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure DevTest Labs Disks_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/disks/{name}
  : delete:
      description: Delete disk. This operation can take a while to complete.
      operationId: Disks_Delete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the disk.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Disks
      x-ms-long-running-operation: true
      summary: Azure DevTest Labs Disks_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Get disk.
      operationId: Disks_Get
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the disk.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - description: 'Specify the $expand query. Example: ''properties($select=diskType)'''
        in: query
        name: $expand
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Disks
      summary: Azure DevTest Labs Disks_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      description: Allows modifying tags of disks. All other properties will be ignored.
      operationId: Disks_Update
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the disk.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Disks
      summary: Azure DevTest Labs Disks_ Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiskFragment'
        description: A Disk.
        required: true
    put:
      description: Create or replace an existing disk. This operation can take a while to complete.
      operationId: Disks_CreateOrUpdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the disk.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Disks
      x-ms-long-running-operation: true
      summary: Azure DevTest Labs Disks_ Create or Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Disk'
        description: A Disk.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/disks/{name}/attach
  : post:
      description: Attach and create the lease of the disk to the virtual machine. This operation can take a while to complete.
      operationId: Disks_Attach
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the disk.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Disks
      x-ms-long-running-operation: true
      summary: Azure DevTest Labs Disks_ Attach
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachDiskProperties'
        description: Properties of the disk to attach.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/disks/{name}/detach
  : post:
      description: Detach and break the lease of the disk attached to the virtual machine. This operation can take a while to complete.
      operationId: Disks_Detach
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the disk.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Disks
      x-ms-long-running-operation: true
      summary: Azure DevTest Labs Disks_ Detach
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachDiskProperties'
        description: Properties of the disk to detach.
        required: true
components:
  schemas:
    AttachDiskProperties:
      description: Properties of the disk to attach.
      properties:
        leasedByLabVmId:
          description: The resource ID of the Lab virtual machine to which the disk is attached.
          type: string
      type: object
    CloudError:
      description: Error from a REST request.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The cloud error that occurred
      type: object
      x-ms-external: true
    DiskFragment:
      allOf:
      - $ref: '#/components/schemas/UpdateResource'
      description: A Disk.
      properties:
        properties:
          $ref: '#/components/schemas/DiskPropertiesFragment'
          description: The properties of the resource.
          x-ms-client-flatten: true
      type: object
    CloudErrorBody:
      description: Body of an error from a REST request.
      properties:
        code:
          description: The error code.
          type: string
        details:
          description: Inner errors.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: The error message.
          type: string
        target:
          description: The error target.
          type: string
      type: object
      x-ms-external: true
    DiskProperties:
      description: Properties of a disk.
      properties:
        createdDate:
          description: The creation date of the disk.
          format: date-time
          readOnly: true
          type: string
        diskBlobName:
          description: When backed by a blob, the name of the VHD blob without extension.
          type: string
        diskSizeGiB:
          description: The size of the disk in GibiBytes.
          format: int32
          type: integer
        diskType:
          description: The storage type for the disk (i.e. Standard, Premium).
          enum:
          - Standard
          - Premium
          - StandardSSD
          type: string
          x-ms-enum:
            modelAsString: true
            name: StorageType
        diskUri:
          description: When backed by a blob, the URI of underlying blob.
          type: string
        hostCaching:
          description: The host caching policy of the disk (i.e. None, ReadOnly, ReadWrite).
          type: string
        leasedByLabVmId:
          description: The resource ID of the VM to which this disk is leased.
          type: string
        managedDiskId:
          description: When backed by managed disk, this is the ID of the compute disk resource.
          type: string
        provisioningState:
          description: The provisioning status of the resource.
          readOnly: true
          type: string
        uniqueIdentifier:
          description: The unique immutable identifier of a resource (Guid).
          readOnly: true
          type: string
      type: object
    DetachDiskProperties:
      description: Properties of the disk to detach.
      properties:
        leasedByLabVmId:
          description: The resource ID of the Lab VM to which the disk is attached.
          type: string
      type: object
    Disk:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A Disk.
      properties:
        properties:
          $ref: '#/components/schemas/DiskProperties'
          description: The properties of the resource.
          x-ms-client-flatten: true
      required:
      - properties
      type: object
    DiskList:
      description: The response of a list operation.
      properties:
        nextLink:
          description: Link for next set of results.
          type: string
        value:
          description: Results of the list operation.
          items:
            $ref: '#/components/schemas/Disk'
          type: array
      type: object
    DiskPropertiesFragment:
      description: Properties of a disk.
      properties:
        diskBlobName:
          description: When backed by a blob, the name of the VHD blob without extension.
          type: string
        diskSizeGiB:
          description: The size of the disk in GibiBytes.
          format: int32
          type: integer
        diskType:
          description: The storage type for the disk (i.e. Standard, Premium).
          enum:
          - Standard
          - Premium
          - StandardSSD
          type: string
          x-ms-enum:
            modelAsString: true
            name: StorageType
        diskUri:
          description: When backed by a blob, the URI of underlying blob.
          type: string
        hostCaching:
          description: The host caching policy of the disk (i.e. None, ReadOnly, ReadWrite).
          type: string
        leasedByLabVmId:
          description: The resource ID of the VM to which this disk is leased.
          type: string
        managedDiskId:
          description: When backed by managed disk, this is the ID of the compute disk resource.
          type: string
      type: object
    UpdateResource:
      description: Represents an update resource
      properties:
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          type: object
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: The identifier of the resource.
          readOnly: true
          type: string
        location:
          description: The location of the resource.
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          type: object
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  parameters:
    subscriptionId:
      description: The subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    resourceGroupName:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    api-version:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        default: '2018-09-15'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Access Microsoft Azure
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: OAuth2 Implicit Grant
