swagger: '2.0'
info:
  description: The DevTest Labs Client.
  title: DevTestLabsClient ArmTemplates Environments API
  version: '2.0'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: devtestlabs-DTL
  x-tags:
  - Azure
  - Microsoft
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: Environments
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/environments
  : get:
      description: List environments in a given user profile.
      operationId: Environments_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
        example: example-value
      - description: 'Specify the $expand query. Example: ''properties($select=deploymentProperties)'''
        in: query
        name: $expand
        type: string
        example: example-value
      - description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'')'
        in: query
        name: $filter
        type: string
        example: example-value
      - description: 'The maximum number of resources to return from the operation. Example: ''$top=10'''
        format: int32
        in: query
        name: $top
        type: integer
        example: example-value
      - description: 'The ordering expression for the results, using OData notation. Example: ''$orderby=name desc'''
        in: query
        name: $orderby
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DtlEnvironmentList'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Environments
      x-ms-odata: '#/definitions/DtlEnvironment'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure DevTest Labs Environments_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/environments/{name}
  : delete:
      description: Delete environment. This operation can take a while to complete.
      operationId: Environments_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
        example: example-value
      - description: The name of the environment.
        in: path
        name: name
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Environments
      x-ms-long-running-operation: true
      summary: Azure DevTest Labs Environments_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Get environment.
      operationId: Environments_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
        example: example-value
      - description: The name of the environment.
        in: path
        name: name
        required: true
        type: string
        example: example-value
      - description: 'Specify the $expand query. Example: ''properties($select=deploymentProperties)'''
        in: query
        name: $expand
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DtlEnvironment'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Environments
      summary: Azure DevTest Labs Environments_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      description: Allows modifying tags of environments. All other properties will be ignored.
      operationId: Environments_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
        example: example-value
      - description: The name of the environment.
        in: path
        name: name
        required: true
        type: string
        example: example-value
      - description: An environment, which is essentially an ARM template deployment.
        in: body
        name: dtlEnvironment
        required: true
        schema:
          $ref: '#/definitions/DtlEnvironmentFragment'
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DtlEnvironment'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Environments
      summary: Azure DevTest Labs Environments_ Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: Create or replace an existing environment. This operation can take a while to complete.
      operationId: Environments_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
        example: example-value
      - description: The name of the environment.
        in: path
        name: name
        required: true
        type: string
        example: example-value
      - description: An environment, which is essentially an ARM template deployment.
        in: body
        name: dtlEnvironment
        required: true
        schema:
          $ref: '#/definitions/DtlEnvironment'
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DtlEnvironment'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/DtlEnvironment'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Environments
      x-ms-long-running-operation: true
      summary: Azure DevTest Labs Environments_ Create or Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
definitions:
  EnvironmentDeploymentProperties:
    description: Properties of an environment deployment.
    properties:
      armTemplateId:
        description: The Azure Resource Manager template's identifier.
        type: string
      parameters:
        description: The parameters of the Azure Resource Manager template.
        items:
          $ref: '#/definitions/ArmTemplateParameterProperties'
        type: array
    type: object
  ArmTemplateParameterPropertiesFragment:
    description: Properties of an Azure Resource Manager template parameter.
    properties:
      name:
        description: The name of the template parameter.
        type: string
      value:
        description: The value of the template parameter.
        type: string
    type: object
  EnvironmentProperties:
    description: Properties of an environment.
    properties:
      armTemplateDisplayName:
        description: The display name of the Azure Resource Manager template that produced the environment.
        type: string
      createdByUser:
        description: The creator of the environment.
        readOnly: true
        type: string
      deploymentProperties:
        $ref: '#/definitions/EnvironmentDeploymentProperties'
        description: The deployment properties of the environment.
      provisioningState:
        description: The provisioning status of the resource.
        readOnly: true
        type: string
      resourceGroupId:
        description: The identifier of the resource group containing the environment's resources.
        readOnly: true
        type: string
      uniqueIdentifier:
        description: The unique immutable identifier of a resource (Guid).
        readOnly: true
        type: string
    type: object
  Resource:
    description: An Azure resource.
    properties:
      id:
        description: The identifier of the resource.
        readOnly: true
        type: string
      location:
        description: The location of the resource.
        type: string
      name:
        description: The name of the resource.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: The tags of the resource.
        type: object
      type:
        description: The type of the resource.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  ArmTemplateParameterProperties:
    description: Properties of an Azure Resource Manager template parameter.
    properties:
      name:
        description: The name of the template parameter.
        type: string
      value:
        description: The value of the template parameter.
        type: string
    type: object
  DtlEnvironmentFragment:
    allOf:
    - $ref: '#/definitions/UpdateResource'
    description: An environment, which is essentially an ARM template deployment.
    properties:
      properties:
        $ref: '#/definitions/EnvironmentPropertiesFragment'
        description: The properties of the resource.
        x-ms-client-flatten: true
    type: object
  DtlEnvironment:
    allOf:
    - $ref: '#/definitions/Resource'
    description: An environment, which is essentially an ARM template deployment.
    properties:
      properties:
        $ref: '#/definitions/EnvironmentProperties'
        description: The properties of the resource.
        x-ms-client-flatten: true
    required:
    - properties
    type: object
  EnvironmentDeploymentPropertiesFragment:
    description: Properties of an environment deployment.
    properties:
      armTemplateId:
        description: The Azure Resource Manager template's identifier.
        type: string
      parameters:
        description: The parameters of the Azure Resource Manager template.
        items:
          $ref: '#/definitions/ArmTemplateParameterPropertiesFragment'
        type: array
    type: object
  CloudError:
    description: Error from a REST request.
    properties:
      error:
        $ref: '#/definitions/CloudErrorBody'
        description: The cloud error that occurred
    type: object
    x-ms-external: true
  CloudErrorBody:
    description: Body of an error from a REST request.
    properties:
      code:
        description: The error code.
        type: string
      details:
        description: Inner errors.
        items:
          $ref: '#/definitions/CloudErrorBody'
        type: array
      message:
        description: The error message.
        type: string
      target:
        description: The error target.
        type: string
    type: object
    x-ms-external: true
  EnvironmentPropertiesFragment:
    description: Properties of an environment.
    properties:
      armTemplateDisplayName:
        description: The display name of the Azure Resource Manager template that produced the environment.
        type: string
      deploymentProperties:
        $ref: '#/definitions/EnvironmentDeploymentPropertiesFragment'
        description: The deployment properties of the environment.
    type: object
  UpdateResource:
    description: Represents an update resource
    properties:
      tags:
        additionalProperties:
          type: string
        description: The tags of the resource.
        type: object
    type: object
  DtlEnvironmentList:
    description: The response of a list operation.
    properties:
      nextLink:
        description: Link for next set of results.
        type: string
      value:
        description: Results of the list operation.
        items:
          $ref: '#/definitions/DtlEnvironment'
        type: array
    type: object
parameters:
  resourceGroupName:
    description: The name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: The subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
  api-version:
    default: '2018-09-15'
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: OAuth2 Implicit Grant
    flow: implicit
    scopes:
      user_impersonation: Access Microsoft Azure
    type: oauth2
