openapi: 3.2.0
info:
  description: The DevTest Labs Client.
  title: DevTestLabsClient Notification Channels API
  version: '2018-09-15'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: devtestlabs-DTL
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Notification Channels
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels
  : get:
      description: List notification channels in a given lab.
      operationId: NotificationChannels_List
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: 'Specify the $expand query. Example: ''properties($select=webHookUrl)'''
        in: query
        name: $expand
        example: example-value
        schema:
          type: string
      - description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'')'
        in: query
        name: $filter
        example: example-value
        schema:
          type: string
      - description: 'The maximum number of resources to return from the operation. Example: ''$top=10'''
        in: query
        name: $top
        example: example-value
        schema:
          type: integer
          format: int32
      - description: 'The ordering expression for the results, using OData notation. Example: ''$orderby=name desc'''
        in: query
        name: $orderby
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannelList'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Notification Channels
      x-ms-odata: '#/definitions/NotificationChannel'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure DevTest Labs Notification Channels_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}
  : delete:
      description: Delete notification channel.
      operationId: NotificationChannels_Delete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the notification channel.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Notification Channels
      summary: Azure DevTest Labs Notification Channels_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Get notification channel.
      operationId: NotificationChannels_Get
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the notification channel.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - description: 'Specify the $expand query. Example: ''properties($select=webHookUrl)'''
        in: query
        name: $expand
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Notification Channels
      summary: Azure DevTest Labs Notification Channels_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      description: Allows modifying tags of notification channels. All other properties will be ignored.
      operationId: NotificationChannels_Update
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the notification channel.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Notification Channels
      summary: Azure DevTest Labs Notification Channels_ Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationChannelFragment'
        description: A notification.
        required: true
    put:
      description: Create or replace an existing notification channel.
      operationId: NotificationChannels_CreateOrUpdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the notification channel.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Notification Channels
      summary: Azure DevTest Labs Notification Channels_ Create or Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationChannel'
        description: A notification.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}/notify
  : post:
      description: Send notification to provided channel.
      operationId: NotificationChannels_Notify
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the notification channel.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Notification Channels
      summary: Azure DevTest Labs Notification Channels_ Notify
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyParameters'
        description: Properties for generating a Notification.
        required: true
components:
  schemas:
    NotificationChannel:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A notification.
      properties:
        properties:
          $ref: '#/components/schemas/NotificationChannelProperties'
          description: The properties of the resource.
          x-ms-client-flatten: true
      required:
      - properties
      type: object
    NotificationChannelPropertiesFragment:
      description: Properties of a schedule.
      properties:
        description:
          description: Description of notification.
          type: string
        emailRecipient:
          description: The email recipient to send notifications to (can be a list of semi-colon separated email addresses).
          type: string
        events:
          description: The list of event for which this notification is enabled.
          items:
            $ref: '#/components/schemas/EventFragment'
          type: array
        notificationLocale:
          description: The locale to use when sending a notification (fallback for unsupported languages is EN).
          type: string
        webHookUrl:
          description: The webhook URL to send notifications to.
          type: string
      type: object
    NotificationChannelFragment:
      allOf:
      - $ref: '#/components/schemas/UpdateResource'
      description: A notification.
      properties:
        properties:
          $ref: '#/components/schemas/NotificationChannelPropertiesFragment'
          description: The properties of the resource.
          x-ms-client-flatten: true
      type: object
    NotificationChannelProperties:
      description: Properties of a schedule.
      properties:
        createdDate:
          description: The creation date of the notification channel.
          format: date-time
          readOnly: true
          type: string
        description:
          description: Description of notification.
          type: string
        emailRecipient:
          description: The email recipient to send notifications to (can be a list of semi-colon separated email addresses).
          type: string
        events:
          description: The list of event for which this notification is enabled.
          items:
            $ref: '#/components/schemas/Event'
          type: array
        notificationLocale:
          description: The locale to use when sending a notification (fallback for unsupported languages is EN).
          type: string
        provisioningState:
          description: The provisioning status of the resource.
          readOnly: true
          type: string
        uniqueIdentifier:
          description: The unique immutable identifier of a resource (Guid).
          readOnly: true
          type: string
        webHookUrl:
          description: The webhook URL to send notifications to.
          type: string
      type: object
    CloudError:
      description: Error from a REST request.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The cloud error that occurred
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: Body of an error from a REST request.
      properties:
        code:
          description: The error code.
          type: string
        details:
          description: Inner errors.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: The error message.
          type: string
        target:
          description: The error target.
          type: string
      type: object
      x-ms-external: true
    EventFragment:
      description: An event to be notified for.
      properties:
        eventName:
          description: The event type for which this notification is enabled (i.e. AutoShutdown, Cost)
          enum:
          - AutoShutdown
          - Cost
          type: string
          x-ms-enum:
            modelAsString: true
            name: NotificationChannelEventType
      type: object
    Event:
      description: An event to be notified for.
      properties:
        eventName:
          description: The event type for which this notification is enabled (i.e. AutoShutdown, Cost)
          enum:
          - AutoShutdown
          - Cost
          type: string
          x-ms-enum:
            modelAsString: true
            name: NotificationChannelEventType
      type: object
    UpdateResource:
      description: Represents an update resource
      properties:
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          type: object
      type: object
    NotificationChannelList:
      description: The response of a list operation.
      properties:
        nextLink:
          description: Link for next set of results.
          type: string
        value:
          description: Results of the list operation.
          items:
            $ref: '#/components/schemas/NotificationChannel'
          type: array
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: The identifier of the resource.
          readOnly: true
          type: string
        location:
          description: The location of the resource.
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          type: object
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    NotifyParameters:
      description: Properties for generating a Notification.
      properties:
        eventName:
          description: The type of event (i.e. AutoShutdown, Cost)
          enum:
          - AutoShutdown
          - Cost
          type: string
          x-ms-enum:
            modelAsString: true
            name: NotificationChannelEventType
        jsonPayload:
          description: Properties for the notification in json format.
          type: string
      type: object
  parameters:
    subscriptionId:
      description: The subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    resourceGroupName:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    api-version:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        default: '2018-09-15'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Access Microsoft Azure
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: OAuth2 Implicit Grant
