swagger: '2.0'
info:
  description: The DevTest Labs Client.
  title: DevTestLabsClient ArmTemplates API
  version: '2.0'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: devtestlabs-DTL
  x-tags:
  - Azure
  - Microsoft
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: ArmTemplates
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates
  : get:
      description: List azure resource manager templates in a given artifact source.
      operationId: ArmTemplates_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        type: string
        example: example-value
      - description: 'Specify the $expand query. Example: ''properties($select=displayName)'''
        in: query
        name: $expand
        type: string
        example: example-value
      - description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'')'
        in: query
        name: $filter
        type: string
        example: example-value
      - description: 'The maximum number of resources to return from the operation. Example: ''$top=10'''
        format: int32
        in: query
        name: $top
        type: integer
        example: example-value
      - description: 'The ordering expression for the results, using OData notation. Example: ''$orderby=name desc'''
        in: query
        name: $orderby
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ArmTemplateList'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - ArmTemplates
      x-ms-odata: '#/definitions/ArmTemplate'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure DevTest Labs Arm Templates_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates/{name}
  : get:
      description: Get azure resource manager template.
      operationId: ArmTemplates_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        type: string
        example: example-value
      - description: The name of the azure resource manager template.
        in: path
        name: name
        required: true
        type: string
        example: example-value
      - description: 'Specify the $expand query. Example: ''properties($select=displayName)'''
        in: query
        name: $expand
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ArmTemplate'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - ArmTemplates
      summary: Azure DevTest Labs Arm Templates_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
definitions:
  ArmTemplateProperties:
    description: Properties of an Azure Resource Manager template.
    properties:
      contents:
        description: The contents of the ARM template.
        readOnly: true
        type: object
      createdDate:
        description: The creation date of the armTemplate.
        format: date-time
        readOnly: true
        type: string
      description:
        description: The description of the ARM template.
        readOnly: true
        type: string
      displayName:
        description: The display name of the ARM template.
        readOnly: true
        type: string
      enabled:
        description: Whether or not ARM template is enabled for use by lab user.
        readOnly: true
        type: boolean
      icon:
        description: The URI to the icon of the ARM template.
        readOnly: true
        type: string
      parametersValueFilesInfo:
        description: File name and parameter values information from all azuredeploy.*.parameters.json for the ARM template.
        items:
          $ref: '#/definitions/ParametersValueFileInfo'
        readOnly: true
        type: array
      publisher:
        description: The publisher of the ARM template.
        readOnly: true
        type: string
    type: object
  Resource:
    description: An Azure resource.
    properties:
      id:
        description: The identifier of the resource.
        readOnly: true
        type: string
      location:
        description: The location of the resource.
        type: string
      name:
        description: The name of the resource.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: The tags of the resource.
        type: object
      type:
        description: The type of the resource.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  ArmTemplateList:
    description: The response of a list operation.
    properties:
      nextLink:
        description: Link for next set of results.
        type: string
      value:
        description: Results of the list operation.
        items:
          $ref: '#/definitions/ArmTemplate'
        type: array
    type: object
  CloudError:
    description: Error from a REST request.
    properties:
      error:
        $ref: '#/definitions/CloudErrorBody'
        description: The cloud error that occurred
    type: object
    x-ms-external: true
  CloudErrorBody:
    description: Body of an error from a REST request.
    properties:
      code:
        description: The error code.
        type: string
      details:
        description: Inner errors.
        items:
          $ref: '#/definitions/CloudErrorBody'
        type: array
      message:
        description: The error message.
        type: string
      target:
        description: The error target.
        type: string
    type: object
    x-ms-external: true
  ArmTemplate:
    allOf:
    - $ref: '#/definitions/Resource'
    description: An Azure Resource Manager template.
    properties:
      properties:
        $ref: '#/definitions/ArmTemplateProperties'
        description: The properties of the resource.
        x-ms-client-flatten: true
    required:
    - properties
    type: object
  ParametersValueFileInfo:
    description: A file containing a set of parameter values for an ARM template.
    properties:
      fileName:
        description: File name.
        type: string
      parametersValueInfo:
        description: Contents of the file.
        type: object
    type: object
parameters:
  resourceGroupName:
    description: The name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: The subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
  api-version:
    default: '2018-09-15'
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: OAuth2 Implicit Grant
    flow: implicit
    scopes:
      user_impersonation: Access Microsoft Azure
    type: oauth2
