openapi: 3.2.0
info:
  description: The DevTest Labs Client.
  title: DevTestLabsClient Artifacts API
  version: '2018-09-15'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: devtestlabs-DTL
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Artifacts
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts
  : get:
      description: List artifacts in a given artifact source.
      operationId: Artifacts_List
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        example: example-value
        schema:
          type: string
      - description: 'Specify the $expand query. Example: ''properties($select=title)'''
        in: query
        name: $expand
        example: example-value
        schema:
          type: string
      - description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'')'
        in: query
        name: $filter
        example: example-value
        schema:
          type: string
      - description: 'The maximum number of resources to return from the operation. Example: ''$top=10'''
        in: query
        name: $top
        example: example-value
        schema:
          type: integer
          format: int32
      - description: 'The ordering expression for the results, using OData notation. Example: ''$orderby=name desc'''
        in: query
        name: $orderby
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Artifacts
      x-ms-odata: '#/definitions/Artifact'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure DevTest Labs Artifacts_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}
  : get:
      description: Get artifact.
      operationId: Artifacts_Get
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the artifact.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - description: 'Specify the $expand query. Example: ''properties($select=title)'''
        in: query
        name: $expand
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Artifacts
      summary: Azure DevTest Labs Artifacts_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}/generateArmTemplate
  : post:
      description: Generates an ARM template for the given artifact, uploads the required files to a storage account, and validates the generated artifact.
      operationId: Artifacts_GenerateArmTemplate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the artifact.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmTemplateInfo'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Artifacts
      summary: Azure DevTest Labs Artifacts_ Generate Arm Template
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateArmTemplateRequest'
        description: Parameters for generating an ARM template for deploying artifacts.
        required: true
components:
  schemas:
    ArmTemplateInfo:
      description: Information about a generated ARM template.
      properties:
        parameters:
          description: The parameters of the ARM template.
          type: object
        template:
          description: The template's contents.
          type: object
      type: object
    ArtifactList:
      description: The response of a list operation.
      properties:
        nextLink:
          description: Link for next set of results.
          type: string
        value:
          description: Results of the list operation.
          items:
            $ref: '#/components/schemas/Artifact'
          type: array
      type: object
    ParameterInfo:
      description: Information about an artifact's parameter.
      properties:
        name:
          description: The name of the artifact parameter.
          type: string
        value:
          description: The value of the artifact parameter.
          type: string
      type: object
    CloudError:
      description: Error from a REST request.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The cloud error that occurred
      type: object
      x-ms-external: true
    ArtifactProperties:
      description: Properties of an artifact.
      properties:
        createdDate:
          description: The artifact's creation date.
          format: date-time
          readOnly: true
          type: string
        description:
          description: The artifact's description.
          readOnly: true
          type: string
        filePath:
          description: The file path to the artifact.
          readOnly: true
          type: string
        icon:
          description: The URI to the artifact icon.
          readOnly: true
          type: string
        parameters:
          description: The artifact's parameters.
          readOnly: true
          type: object
        publisher:
          description: The artifact's publisher.
          readOnly: true
          type: string
        targetOsType:
          description: The artifact's target OS.
          readOnly: true
          type: string
        title:
          description: The artifact's title.
          readOnly: true
          type: string
      type: object
    CloudErrorBody:
      description: Body of an error from a REST request.
      properties:
        code:
          description: The error code.
          type: string
        details:
          description: Inner errors.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: The error message.
          type: string
        target:
          description: The error target.
          type: string
      type: object
      x-ms-external: true
    GenerateArmTemplateRequest:
      description: Parameters for generating an ARM template for deploying artifacts.
      properties:
        fileUploadOptions:
          description: Options for uploading the files for the artifact. UploadFilesAndGenerateSasTokens is the default value.
          enum:
          - UploadFilesAndGenerateSasTokens
          - None
          type: string
          x-ms-enum:
            modelAsString: true
            name: FileUploadOptions
        location:
          description: The location of the virtual machine.
          type: string
        parameters:
          description: The parameters of the ARM template.
          items:
            $ref: '#/components/schemas/ParameterInfo'
          type: array
        virtualMachineName:
          description: The resource name of the virtual machine.
          type: string
      type: object
    Artifact:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An artifact.
      properties:
        properties:
          $ref: '#/components/schemas/ArtifactProperties'
          description: The properties of the resource.
          x-ms-client-flatten: true
      required:
      - properties
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: The identifier of the resource.
          readOnly: true
          type: string
        location:
          description: The location of the resource.
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          type: object
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  parameters:
    subscriptionId:
      description: The subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    resourceGroupName:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    api-version:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        default: '2018-09-15'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Access Microsoft Azure
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: OAuth2 Implicit Grant
