swagger: '2.0'
info:
  description: The DevTest Labs Client.
  title: DevTestLabsClient ArmTemplates ArtifactSources API
  version: '2.0'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: devtestlabs-DTL
  x-tags:
  - Azure
  - Microsoft
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: ArtifactSources
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources
  : get:
      description: List artifact sources in a given lab.
      operationId: ArtifactSources_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: 'Specify the $expand query. Example: ''properties($select=displayName)'''
        in: query
        name: $expand
        type: string
        example: example-value
      - description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'')'
        in: query
        name: $filter
        type: string
        example: example-value
      - description: 'The maximum number of resources to return from the operation. Example: ''$top=10'''
        format: int32
        in: query
        name: $top
        type: integer
        example: example-value
      - description: 'The ordering expression for the results, using OData notation. Example: ''$orderby=name desc'''
        in: query
        name: $orderby
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ArtifactSourceList'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - ArtifactSources
      x-ms-odata: '#/definitions/ArtifactSource'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure DevTest Labs Artifact Sources_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{name}
  : delete:
      description: Delete artifact source.
      operationId: ArtifactSources_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - ArtifactSources
      summary: Azure DevTest Labs Artifact Sources_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Get artifact source.
      operationId: ArtifactSources_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        type: string
        example: example-value
      - description: 'Specify the $expand query. Example: ''properties($select=displayName)'''
        in: query
        name: $expand
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ArtifactSource'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - ArtifactSources
      summary: Azure DevTest Labs Artifact Sources_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      description: Allows modifying tags of artifact sources. All other properties will be ignored.
      operationId: ArtifactSources_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        type: string
        example: example-value
      - description: Properties of an artifact source.
        in: body
        name: artifactSource
        required: true
        schema:
          $ref: '#/definitions/ArtifactSourceFragment'
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ArtifactSource'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - ArtifactSources
      summary: Azure DevTest Labs Artifact Sources_ Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: Create or replace an existing artifact source.
      operationId: ArtifactSources_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        type: string
        example: example-value
      - description: Properties of an artifact source.
        in: body
        name: artifactSource
        required: true
        schema:
          $ref: '#/definitions/ArtifactSource'
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ArtifactSource'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/ArtifactSource'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - ArtifactSources
      summary: Azure DevTest Labs Artifact Sources_ Create or Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
definitions:
  ArtifactSourceProperties:
    description: Properties of an artifact source.
    properties:
      armTemplateFolderPath:
        description: The folder containing Azure Resource Manager templates.
        type: string
      branchRef:
        description: The artifact source's branch reference.
        type: string
      createdDate:
        description: The artifact source's creation date.
        format: date-time
        readOnly: true
        type: string
      displayName:
        description: The artifact source's display name.
        type: string
      folderPath:
        description: The folder containing artifacts.
        type: string
      provisioningState:
        description: The provisioning status of the resource.
        readOnly: true
        type: string
      securityToken:
        description: The security token to authenticate to the artifact source.
        type: string
      sourceType:
        description: The artifact source's type.
        enum:
        - VsoGit
        - GitHub
        type: string
        x-ms-enum:
          modelAsString: true
          name: SourceControlType
      status:
        description: 'Indicates if the artifact source is enabled (values: Enabled, Disabled).'
        enum:
        - Enabled
        - Disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: EnableStatus
      uniqueIdentifier:
        description: The unique immutable identifier of a resource (Guid).
        readOnly: true
        type: string
      uri:
        description: The artifact source's URI.
        type: string
    type: object
  Resource:
    description: An Azure resource.
    properties:
      id:
        description: The identifier of the resource.
        readOnly: true
        type: string
      location:
        description: The location of the resource.
        type: string
      name:
        description: The name of the resource.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: The tags of the resource.
        type: object
      type:
        description: The type of the resource.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  CloudError:
    description: Error from a REST request.
    properties:
      error:
        $ref: '#/definitions/CloudErrorBody'
        description: The cloud error that occurred
    type: object
    x-ms-external: true
  ArtifactSourceFragment:
    allOf:
    - $ref: '#/definitions/UpdateResource'
    description: Properties of an artifact source.
    properties:
      properties:
        $ref: '#/definitions/ArtifactSourcePropertiesFragment'
        description: The properties of the resource.
        x-ms-client-flatten: true
    type: object
  ArtifactSource:
    allOf:
    - $ref: '#/definitions/Resource'
    description: Properties of an artifact source.
    properties:
      properties:
        $ref: '#/definitions/ArtifactSourceProperties'
        description: The properties of the resource.
        x-ms-client-flatten: true
    required:
    - properties
    type: object
  CloudErrorBody:
    description: Body of an error from a REST request.
    properties:
      code:
        description: The error code.
        type: string
      details:
        description: Inner errors.
        items:
          $ref: '#/definitions/CloudErrorBody'
        type: array
      message:
        description: The error message.
        type: string
      target:
        description: The error target.
        type: string
    type: object
    x-ms-external: true
  UpdateResource:
    description: Represents an update resource
    properties:
      tags:
        additionalProperties:
          type: string
        description: The tags of the resource.
        type: object
    type: object
  ArtifactSourcePropertiesFragment:
    description: Properties of an artifact source.
    properties:
      armTemplateFolderPath:
        description: The folder containing Azure Resource Manager templates.
        type: string
      branchRef:
        description: The artifact source's branch reference.
        type: string
      displayName:
        description: The artifact source's display name.
        type: string
      folderPath:
        description: The folder containing artifacts.
        type: string
      securityToken:
        description: The security token to authenticate to the artifact source.
        type: string
      sourceType:
        description: The artifact source's type.
        enum:
        - VsoGit
        - GitHub
        type: string
        x-ms-enum:
          modelAsString: true
          name: SourceControlType
      status:
        description: 'Indicates if the artifact source is enabled (values: Enabled, Disabled).'
        enum:
        - Enabled
        - Disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: EnableStatus
      uri:
        description: The artifact source's URI.
        type: string
    type: object
  ArtifactSourceList:
    description: The response of a list operation.
    properties:
      nextLink:
        description: Link for next set of results.
        type: string
      value:
        description: Results of the list operation.
        items:
          $ref: '#/definitions/ArtifactSource'
        type: array
    type: object
parameters:
  resourceGroupName:
    description: The name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: The subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
  api-version:
    default: '2018-09-15'
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: OAuth2 Implicit Grant
    flow: implicit
    scopes:
      user_impersonation: Access Microsoft Azure
    type: oauth2
