swagger: '2.0'
info:
  description: The DevTest Labs Client.
  title: DevTestLabsClient ArmTemplates NotificationChannels API
  version: '2.0'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: devtestlabs-DTL
  x-tags:
  - Azure
  - Microsoft
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: NotificationChannels
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels
  : get:
      description: List notification channels in a given lab.
      operationId: NotificationChannels_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: 'Specify the $expand query. Example: ''properties($select=webHookUrl)'''
        in: query
        name: $expand
        type: string
        example: example-value
      - description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'')'
        in: query
        name: $filter
        type: string
        example: example-value
      - description: 'The maximum number of resources to return from the operation. Example: ''$top=10'''
        format: int32
        in: query
        name: $top
        type: integer
        example: example-value
      - description: 'The ordering expression for the results, using OData notation. Example: ''$orderby=name desc'''
        in: query
        name: $orderby
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NotificationChannelList'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - NotificationChannels
      x-ms-odata: '#/definitions/NotificationChannel'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure DevTest Labs Notification Channels_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}
  : delete:
      description: Delete notification channel.
      operationId: NotificationChannels_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the notification channel.
        in: path
        name: name
        required: true
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - NotificationChannels
      summary: Azure DevTest Labs Notification Channels_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Get notification channel.
      operationId: NotificationChannels_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the notification channel.
        in: path
        name: name
        required: true
        type: string
        example: example-value
      - description: 'Specify the $expand query. Example: ''properties($select=webHookUrl)'''
        in: query
        name: $expand
        type: string
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NotificationChannel'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - NotificationChannels
      summary: Azure DevTest Labs Notification Channels_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      description: Allows modifying tags of notification channels. All other properties will be ignored.
      operationId: NotificationChannels_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the notification channel.
        in: path
        name: name
        required: true
        type: string
        example: example-value
      - description: A notification.
        in: body
        name: notificationChannel
        required: true
        schema:
          $ref: '#/definitions/NotificationChannelFragment'
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NotificationChannel'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - NotificationChannels
      summary: Azure DevTest Labs Notification Channels_ Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: Create or replace an existing notification channel.
      operationId: NotificationChannels_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the notification channel.
        in: path
        name: name
        required: true
        type: string
        example: example-value
      - description: A notification.
        in: body
        name: notificationChannel
        required: true
        schema:
          $ref: '#/definitions/NotificationChannel'
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NotificationChannel'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/NotificationChannel'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - NotificationChannels
      summary: Azure DevTest Labs Notification Channels_ Create or Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}/notify
  : post:
      description: Send notification to provided channel.
      operationId: NotificationChannels_Notify
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
        example: example-value
      - description: The name of the notification channel.
        in: path
        name: name
        required: true
        type: string
        example: example-value
      - description: Properties for generating a Notification.
        in: body
        name: notifyParameters
        required: true
        schema:
          $ref: '#/definitions/NotifyParameters'
        example: example-value
      - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - NotificationChannels
      summary: Azure DevTest Labs Notification Channels_ Notify
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
definitions:
  NotificationChannel:
    allOf:
    - $ref: '#/definitions/Resource'
    description: A notification.
    properties:
      properties:
        $ref: '#/definitions/NotificationChannelProperties'
        description: The properties of the resource.
        x-ms-client-flatten: true
    required:
    - properties
    type: object
  NotifyParameters:
    description: Properties for generating a Notification.
    properties:
      eventName:
        description: The type of event (i.e. AutoShutdown, Cost)
        enum:
        - AutoShutdown
        - Cost
        type: string
        x-ms-enum:
          modelAsString: true
          name: NotificationChannelEventType
      jsonPayload:
        description: Properties for the notification in json format.
        type: string
    type: object
  EventFragment:
    description: An event to be notified for.
    properties:
      eventName:
        description: The event type for which this notification is enabled (i.e. AutoShutdown, Cost)
        enum:
        - AutoShutdown
        - Cost
        type: string
        x-ms-enum:
          modelAsString: true
          name: NotificationChannelEventType
    type: object
  NotificationChannelList:
    description: The response of a list operation.
    properties:
      nextLink:
        description: Link for next set of results.
        type: string
      value:
        description: Results of the list operation.
        items:
          $ref: '#/definitions/NotificationChannel'
        type: array
    type: object
  Resource:
    description: An Azure resource.
    properties:
      id:
        description: The identifier of the resource.
        readOnly: true
        type: string
      location:
        description: The location of the resource.
        type: string
      name:
        description: The name of the resource.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: The tags of the resource.
        type: object
      type:
        description: The type of the resource.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  CloudError:
    description: Error from a REST request.
    properties:
      error:
        $ref: '#/definitions/CloudErrorBody'
        description: The cloud error that occurred
    type: object
    x-ms-external: true
  NotificationChannelPropertiesFragment:
    description: Properties of a schedule.
    properties:
      description:
        description: Description of notification.
        type: string
      emailRecipient:
        description: The email recipient to send notifications to (can be a list of semi-colon separated email addresses).
        type: string
      events:
        description: The list of event for which this notification is enabled.
        items:
          $ref: '#/definitions/EventFragment'
        type: array
      notificationLocale:
        description: The locale to use when sending a notification (fallback for unsupported languages is EN).
        type: string
      webHookUrl:
        description: The webhook URL to send notifications to.
        type: string
    type: object
  NotificationChannelFragment:
    allOf:
    - $ref: '#/definitions/UpdateResource'
    description: A notification.
    properties:
      properties:
        $ref: '#/definitions/NotificationChannelPropertiesFragment'
        description: The properties of the resource.
        x-ms-client-flatten: true
    type: object
  Event:
    description: An event to be notified for.
    properties:
      eventName:
        description: The event type for which this notification is enabled (i.e. AutoShutdown, Cost)
        enum:
        - AutoShutdown
        - Cost
        type: string
        x-ms-enum:
          modelAsString: true
          name: NotificationChannelEventType
    type: object
  CloudErrorBody:
    description: Body of an error from a REST request.
    properties:
      code:
        description: The error code.
        type: string
      details:
        description: Inner errors.
        items:
          $ref: '#/definitions/CloudErrorBody'
        type: array
      message:
        description: The error message.
        type: string
      target:
        description: The error target.
        type: string
    type: object
    x-ms-external: true
  UpdateResource:
    description: Represents an update resource
    properties:
      tags:
        additionalProperties:
          type: string
        description: The tags of the resource.
        type: object
    type: object
  NotificationChannelProperties:
    description: Properties of a schedule.
    properties:
      createdDate:
        description: The creation date of the notification channel.
        format: date-time
        readOnly: true
        type: string
      description:
        description: Description of notification.
        type: string
      emailRecipient:
        description: The email recipient to send notifications to (can be a list of semi-colon separated email addresses).
        type: string
      events:
        description: The list of event for which this notification is enabled.
        items:
          $ref: '#/definitions/Event'
        type: array
      notificationLocale:
        description: The locale to use when sending a notification (fallback for unsupported languages is EN).
        type: string
      provisioningState:
        description: The provisioning status of the resource.
        readOnly: true
        type: string
      uniqueIdentifier:
        description: The unique immutable identifier of a resource (Guid).
        readOnly: true
        type: string
      webHookUrl:
        description: The webhook URL to send notifications to.
        type: string
    type: object
parameters:
  resourceGroupName:
    description: The name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: The subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
  api-version:
    default: '2018-09-15'
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: OAuth2 Implicit Grant
    flow: implicit
    scopes:
      user_impersonation: Access Microsoft Azure
    type: oauth2
