openapi: 3.2.0
info:
  description: The DevTest Labs Client.
  title: DevTestLabsClient Environments API
  version: '2018-09-15'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: devtestlabs-DTL
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Environments
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/environments
  : get:
      description: List environments in a given user profile.
      operationId: Environments_List
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        example: example-value
        schema:
          type: string
      - description: 'Specify the $expand query. Example: ''properties($select=deploymentProperties)'''
        in: query
        name: $expand
        example: example-value
        schema:
          type: string
      - description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'')'
        in: query
        name: $filter
        example: example-value
        schema:
          type: string
      - description: 'The maximum number of resources to return from the operation. Example: ''$top=10'''
        in: query
        name: $top
        example: example-value
        schema:
          type: integer
          format: int32
      - description: 'The ordering expression for the results, using OData notation. Example: ''$orderby=name desc'''
        in: query
        name: $orderby
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtlEnvironmentList'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Environments
      x-ms-odata: '#/definitions/DtlEnvironment'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure DevTest Labs Environments_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/environments/{name}
  : delete:
      description: Delete environment. This operation can take a while to complete.
      operationId: Environments_Delete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the environment.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Environments
      x-ms-long-running-operation: true
      summary: Azure DevTest Labs Environments_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Get environment.
      operationId: Environments_Get
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the environment.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - description: 'Specify the $expand query. Example: ''properties($select=deploymentProperties)'''
        in: query
        name: $expand
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtlEnvironment'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Environments
      summary: Azure DevTest Labs Environments_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      description: Allows modifying tags of environments. All other properties will be ignored.
      operationId: Environments_Update
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the environment.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtlEnvironment'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Environments
      summary: Azure DevTest Labs Environments_ Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DtlEnvironmentFragment'
        description: An environment, which is essentially an ARM template deployment.
        required: true
    put:
      description: Create or replace an existing environment. This operation can take a while to complete.
      operationId: Environments_CreateOrUpdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the environment.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtlEnvironment'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtlEnvironment'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Environments
      x-ms-long-running-operation: true
      summary: Azure DevTest Labs Environments_ Create or Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DtlEnvironment'
        description: An environment, which is essentially an ARM template deployment.
        required: true
components:
  schemas:
    UpdateResource:
      description: Represents an update resource
      properties:
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          type: object
      type: object
    DtlEnvironment:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An environment, which is essentially an ARM template deployment.
      properties:
        properties:
          $ref: '#/components/schemas/EnvironmentProperties'
          description: The properties of the resource.
          x-ms-client-flatten: true
      required:
      - properties
      type: object
    CloudErrorBody:
      description: Body of an error from a REST request.
      properties:
        code:
          description: The error code.
          type: string
        details:
          description: Inner errors.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: The error message.
          type: string
        target:
          description: The error target.
          type: string
      type: object
      x-ms-external: true
    EnvironmentProperties:
      description: Properties of an environment.
      properties:
        armTemplateDisplayName:
          description: The display name of the Azure Resource Manager template that produced the environment.
          type: string
        createdByUser:
          description: The creator of the environment.
          readOnly: true
          type: string
        deploymentProperties:
          $ref: '#/components/schemas/EnvironmentDeploymentProperties'
          description: The deployment properties of the environment.
        provisioningState:
          description: The provisioning status of the resource.
          readOnly: true
          type: string
        resourceGroupId:
          description: The identifier of the resource group containing the environment's resources.
          readOnly: true
          type: string
        uniqueIdentifier:
          description: The unique immutable identifier of a resource (Guid).
          readOnly: true
          type: string
      type: object
    EnvironmentPropertiesFragment:
      description: Properties of an environment.
      properties:
        armTemplateDisplayName:
          description: The display name of the Azure Resource Manager template that produced the environment.
          type: string
        deploymentProperties:
          $ref: '#/components/schemas/EnvironmentDeploymentPropertiesFragment'
          description: The deployment properties of the environment.
      type: object
    ArmTemplateParameterPropertiesFragment:
      description: Properties of an Azure Resource Manager template parameter.
      properties:
        name:
          description: The name of the template parameter.
          type: string
        value:
          description: The value of the template parameter.
          type: string
      type: object
    CloudError:
      description: Error from a REST request.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The cloud error that occurred
      type: object
      x-ms-external: true
    DtlEnvironmentList:
      description: The response of a list operation.
      properties:
        nextLink:
          description: Link for next set of results.
          type: string
        value:
          description: Results of the list operation.
          items:
            $ref: '#/components/schemas/DtlEnvironment'
          type: array
      type: object
    ArmTemplateParameterProperties:
      description: Properties of an Azure Resource Manager template parameter.
      properties:
        name:
          description: The name of the template parameter.
          type: string
        value:
          description: The value of the template parameter.
          type: string
      type: object
    DtlEnvironmentFragment:
      allOf:
      - $ref: '#/components/schemas/UpdateResource'
      description: An environment, which is essentially an ARM template deployment.
      properties:
        properties:
          $ref: '#/components/schemas/EnvironmentPropertiesFragment'
          description: The properties of the resource.
          x-ms-client-flatten: true
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: The identifier of the resource.
          readOnly: true
          type: string
        location:
          description: The location of the resource.
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          type: object
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    EnvironmentDeploymentProperties:
      description: Properties of an environment deployment.
      properties:
        armTemplateId:
          description: The Azure Resource Manager template's identifier.
          type: string
        parameters:
          description: The parameters of the Azure Resource Manager template.
          items:
            $ref: '#/components/schemas/ArmTemplateParameterProperties'
          type: array
      type: object
    EnvironmentDeploymentPropertiesFragment:
      description: Properties of an environment deployment.
      properties:
        armTemplateId:
          description: The Azure Resource Manager template's identifier.
          type: string
        parameters:
          description: The parameters of the Azure Resource Manager template.
          items:
            $ref: '#/components/schemas/ArmTemplateParameterPropertiesFragment'
          type: array
      type: object
  parameters:
    api-version:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        default: '2018-09-15'
    resourceGroupName:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      description: The subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Access Microsoft Azure
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: OAuth2 Implicit Grant
