openapi: 3.2.0
info:
  description: The DevTest Labs Client.
  title: DevTestLabsClient Custom Images API
  version: '2018-09-15'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: devtestlabs-DTL
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CustomImages
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages
  : get:
      description: List custom images in a given lab.
      operationId: CustomImages_List
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: 'Specify the $expand query. Example: ''properties($select=vm)'''
        in: query
        name: $expand
        example: example-value
        schema:
          type: string
      - description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'')'
        in: query
        name: $filter
        example: example-value
        schema:
          type: string
      - description: 'The maximum number of resources to return from the operation. Example: ''$top=10'''
        in: query
        name: $top
        example: example-value
        schema:
          type: integer
          format: int32
      - description: 'The ordering expression for the results, using OData notation. Example: ''$orderby=name desc'''
        in: query
        name: $orderby
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImageList'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - CustomImages
      x-ms-odata: '#/definitions/CustomImage'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure DevTest Labs Custom Images_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages/{name}
  : delete:
      description: Delete custom image. This operation can take a while to complete.
      operationId: CustomImages_Delete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the custom image.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - CustomImages
      x-ms-long-running-operation: true
      summary: Azure DevTest Labs Custom Images_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Get custom image.
      operationId: CustomImages_Get
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the custom image.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - description: 'Specify the $expand query. Example: ''properties($select=vm)'''
        in: query
        name: $expand
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - CustomImages
      summary: Azure DevTest Labs Custom Images_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      description: Allows modifying tags of custom images. All other properties will be ignored.
      operationId: CustomImages_Update
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the custom image.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - CustomImages
      summary: Azure DevTest Labs Custom Images_ Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomImageFragment'
        description: A custom image.
        required: true
    put:
      description: Create or replace an existing custom image. This operation can take a while to complete.
      operationId: CustomImages_CreateOrUpdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: The name of the custom image.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - CustomImages
      x-ms-long-running-operation: true
      summary: Azure DevTest Labs Custom Images_ Create or Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomImage'
        description: A custom image.
        required: true
components:
  schemas:
    CustomImageList:
      description: The response of a list operation.
      properties:
        nextLink:
          description: Link for next set of results.
          type: string
        value:
          description: Results of the list operation.
          items:
            $ref: '#/components/schemas/CustomImage'
          type: array
      type: object
    CustomImagePropertiesCustomFragment:
      description: Properties for creating a custom image from a VHD.
      properties:
        imageName:
          description: The image name.
          type: string
        osType:
          description: The OS type of the custom image (i.e. Windows, Linux)
          enum:
          - Windows
          - Linux
          - None
          type: string
          x-ms-enum:
            modelAsString: true
            name: CustomImageOsType
        sysPrep:
          description: Indicates whether sysprep has been run on the VHD.
          type: boolean
      type: object
    CloudErrorBody:
      description: Body of an error from a REST request.
      properties:
        code:
          description: The error code.
          type: string
        details:
          description: Inner errors.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: The error message.
          type: string
        target:
          description: The error target.
          type: string
      type: object
      x-ms-external: true
    CustomImagePropertiesFragment:
      description: Properties of a custom image.
      properties:
        author:
          description: The author of the custom image.
          type: string
        customImagePlan:
          $ref: '#/components/schemas/CustomImagePropertiesFromPlanFragment'
          description: Storage information about the plan related to this custom image
        dataDiskStorageInfo:
          description: Storage information about the data disks present in the custom image
          items:
            $ref: '#/components/schemas/DataDiskStorageTypeInfoFragment'
          type: array
        description:
          description: The description of the custom image.
          type: string
        isPlanAuthorized:
          description: Whether or not the custom images underlying offer/plan has been enabled for programmatic deployment
          type: boolean
        managedImageId:
          description: The Managed Image Id backing the custom image.
          type: string
        managedSnapshotId:
          description: The Managed Snapshot Id backing the custom image.
          type: string
        vhd:
          $ref: '#/components/schemas/CustomImagePropertiesCustomFragment'
          description: The VHD from which the image is to be created.
        vm:
          $ref: '#/components/schemas/CustomImagePropertiesFromVmFragment'
          description: The virtual machine from which the image is to be created.
      type: object
    CustomImageProperties:
      description: Properties of a custom image.
      properties:
        author:
          description: The author of the custom image.
          type: string
        creationDate:
          description: The creation date of the custom image.
          format: date-time
          readOnly: true
          type: string
        customImagePlan:
          $ref: '#/components/schemas/CustomImagePropertiesFromPlan'
          description: Storage information about the plan related to this custom image
        dataDiskStorageInfo:
          description: Storage information about the data disks present in the custom image
          items:
            $ref: '#/components/schemas/DataDiskStorageTypeInfo'
          type: array
        description:
          description: The description of the custom image.
          type: string
        isPlanAuthorized:
          description: Whether or not the custom images underlying offer/plan has been enabled for programmatic deployment
          type: boolean
        managedImageId:
          description: The Managed Image Id backing the custom image.
          type: string
        managedSnapshotId:
          description: The Managed Snapshot Id backing the custom image.
          type: string
        provisioningState:
          description: The provisioning status of the resource.
          readOnly: true
          type: string
        uniqueIdentifier:
          description: The unique immutable identifier of a resource (Guid).
          readOnly: true
          type: string
        vhd:
          $ref: '#/components/schemas/CustomImagePropertiesCustom'
          description: The VHD from which the image is to be created.
        vm:
          $ref: '#/components/schemas/CustomImagePropertiesFromVm'
          description: The virtual machine from which the image is to be created.
      type: object
    WindowsOsInfo:
      description: Information about a Windows OS.
      properties:
        windowsOsState:
          description: The state of the Windows OS (i.e. NonSysprepped, SysprepRequested, SysprepApplied).
          enum:
          - NonSysprepped
          - SysprepRequested
          - SysprepApplied
          type: string
          x-ms-enum:
            modelAsString: true
            name: WindowsOsState
      type: object
    CustomImage:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A custom image.
      properties:
        properties:
          $ref: '#/components/schemas/CustomImageProperties'
          description: The properties of the resource.
          x-ms-client-flatten: true
      required:
      - properties
      type: object
    CustomImagePropertiesFromPlan:
      description: Properties for plan on a custom image.
      properties:
        id:
          description: The id of the plan, equivalent to name of the plan
          type: string
        offer:
          description: The offer for the plan from the marketplace image the custom image is derived from
          type: string
        publisher:
          description: The publisher for the plan from the marketplace image the custom image is derived from
          type: string
      type: object
    CloudError:
      description: Error from a REST request.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The cloud error that occurred
      type: object
      x-ms-external: true
    CustomImagePropertiesFromVmFragment:
      description: Properties for creating a custom image from a virtual machine.
      properties:
        linuxOsInfo:
          $ref: '#/components/schemas/LinuxOsInfoFragment'
          description: The Linux OS information of the VM.
        sourceVmId:
          description: The source vm identifier.
          type: string
        windowsOsInfo:
          $ref: '#/components/schemas/WindowsOsInfoFragment'
          description: The Windows OS information of the VM.
      type: object
    CustomImagePropertiesFromVm:
      description: Properties for creating a custom image from a virtual machine.
      properties:
        linuxOsInfo:
          $ref: '#/components/schemas/LinuxOsInfo'
          description: The Linux OS information of the VM.
        sourceVmId:
          description: The source vm identifier.
          type: string
        windowsOsInfo:
          $ref: '#/components/schemas/WindowsOsInfo'
          description: The Windows OS information of the VM.
      type: object
    LinuxOsInfo:
      description: Information about a Linux OS.
      properties:
        linuxOsState:
          description: The state of the Linux OS (i.e. NonDeprovisioned, DeprovisionRequested, DeprovisionApplied).
          enum:
          - NonDeprovisioned
          - DeprovisionRequested
          - DeprovisionApplied
          type: string
          x-ms-enum:
            modelAsString: true
            name: LinuxOsState
      type: object
    DataDiskStorageTypeInfo:
      description: Storage information about the data disks present in the custom image
      properties:
        lun:
          description: Disk Lun
          type: string
        storageType:
          description: Disk Storage Type
          enum:
          - Standard
          - Premium
          - StandardSSD
          type: string
          x-ms-enum:
            modelAsString: true
            name: StorageType
      type: object
    CustomImagePropertiesFromPlanFragment:
      description: Properties for plan on a custom image.
      properties:
        id:
          description: The id of the plan, equivalent to name of the plan
          type: string
        offer:
          description: The offer for the plan from the marketplace image the custom image is derived from
          type: string
        publisher:
          description: The publisher for the plan from the marketplace image the custom image is derived from
          type: string
      type: object
    UpdateResource:
      description: Represents an update resource
      properties:
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          type: object
      type: object
    CustomImagePropertiesCustom:
      description: Properties for creating a custom image from a VHD.
      properties:
        imageName:
          description: The image name.
          type: string
        osType:
          description: The OS type of the custom image (i.e. Windows, Linux)
          enum:
          - Windows
          - Linux
          - None
          type: string
          x-ms-enum:
            modelAsString: true
            name: CustomImageOsType
        sysPrep:
          description: Indicates whether sysprep has been run on the VHD.
          type: boolean
      required:
      - osType
      type: object
    DataDiskStorageTypeInfoFragment:
      description: Storage information about the data disks present in the custom image
      properties:
        lun:
          description: Disk Lun
          type: string
        storageType:
          description: Disk Storage Type
          enum:
          - Standard
          - Premium
          - StandardSSD
          type: string
          x-ms-enum:
            modelAsString: true
            name: StorageType
      type: object
    LinuxOsInfoFragment:
      description: Information about a Linux OS.
      properties:
        linuxOsState:
          description: The state of the Linux OS (i.e. NonDeprovisioned, DeprovisionRequested, DeprovisionApplied).
          enum:
          - NonDeprovisioned
          - DeprovisionRequested
          - DeprovisionApplied
          type: string
          x-ms-enum:
            modelAsString: true
            name: LinuxOsState
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: The identifier of the resource.
          readOnly: true
          type: string
        location:
          description: The location of the resource.
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          type: object
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    CustomImageFragment:
      allOf:
      - $ref: '#/components/schemas/UpdateResource'
      description: A custom image.
      properties:
        properties:
          $ref: '#/components/schemas/CustomImagePropertiesFragment'
          description: The properties of the resource.
          x-ms-client-flatten: true
      type: object
    WindowsOsInfoFragment:
      description: Information about a Windows OS.
      properties:
        windowsOsState:
          description: The state of the Windows OS (i.e. NonSysprepped, SysprepRequested, SysprepApplied).
          enum:
          - NonSysprepped
          - SysprepRequested
          - SysprepApplied
          type: string
          x-ms-enum:
            modelAsString: true
            name: WindowsOsState
      type: object
  parameters:
    subscriptionId:
      description: The subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    resourceGroupName:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    api-version:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        default: '2018-09-15'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Access Microsoft Azure
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: OAuth2 Implicit Grant
