openapi: 3.2.0
info:
  description: The DevTest Labs Client.
  title: DevTestLabsClient Gallery Images API
  version: '2018-09-15'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: devtestlabs-DTL
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GalleryImages
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/galleryimages
  : get:
      description: List gallery images in a given lab.
      operationId: GalleryImages_List
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        example: example-value
        schema:
          type: string
      - description: 'Specify the $expand query. Example: ''properties($select=author)'''
        in: query
        name: $expand
        example: example-value
        schema:
          type: string
      - description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'')'
        in: query
        name: $filter
        example: example-value
        schema:
          type: string
      - description: 'The maximum number of resources to return from the operation. Example: ''$top=10'''
        in: query
        name: $top
        example: example-value
        schema:
          type: integer
          format: int32
      - description: 'The ordering expression for the results, using OData notation. Example: ''$orderby=name desc'''
        in: query
        name: $orderby
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageList'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - GalleryImages
      x-ms-odata: '#/definitions/GalleryImage'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure DevTest Labs Gallery Images_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    GalleryImageList:
      description: The response of a list operation.
      properties:
        nextLink:
          description: Link for next set of results.
          type: string
        value:
          description: Results of the list operation.
          items:
            $ref: '#/components/schemas/GalleryImage'
          type: array
      type: object
    CloudError:
      description: Error from a REST request.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The cloud error that occurred
      type: object
      x-ms-external: true
    GalleryImageReference:
      description: The reference information for an Azure Marketplace image.
      properties:
        offer:
          description: The offer of the gallery image.
          type: string
        osType:
          description: The OS type of the gallery image.
          type: string
        publisher:
          description: The publisher of the gallery image.
          type: string
        sku:
          description: The SKU of the gallery image.
          type: string
        version:
          description: The version of the gallery image.
          type: string
      type: object
    CloudErrorBody:
      description: Body of an error from a REST request.
      properties:
        code:
          description: The error code.
          type: string
        details:
          description: Inner errors.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: The error message.
          type: string
        target:
          description: The error target.
          type: string
      type: object
      x-ms-external: true
    GalleryImage:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A gallery image.
      properties:
        properties:
          $ref: '#/components/schemas/GalleryImageProperties'
          description: The properties of the resource.
          x-ms-client-flatten: true
      required:
      - properties
      type: object
    GalleryImageProperties:
      description: Properties of a gallery image.
      properties:
        author:
          description: The author of the gallery image.
          type: string
        createdDate:
          description: The creation date of the gallery image.
          format: date-time
          readOnly: true
          type: string
        description:
          description: The description of the gallery image.
          type: string
        enabled:
          description: Indicates whether this gallery image is enabled.
          type: boolean
        icon:
          description: The icon of the gallery image.
          type: string
        imageReference:
          $ref: '#/components/schemas/GalleryImageReference'
          description: The image reference of the gallery image.
        isPlanAuthorized:
          description: Indicates if the plan has been authorized for programmatic deployment.
          type: boolean
        planId:
          description: The third party plan that applies to this image
          type: string
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: The identifier of the resource.
          readOnly: true
          type: string
        location:
          description: The location of the resource.
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          type: object
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  parameters:
    subscriptionId:
      description: The subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    resourceGroupName:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    api-version:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        default: '2018-09-15'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Access Microsoft Azure
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: OAuth2 Implicit Grant
