openapi: 3.2.0
info:
  description: The DevTest Labs Client.
  title: DevTestLabsClient Operations API
  version: '2018-09-15'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: devtestlabs-DTL
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/locations/{locationName}/operations/{name}:
    get:
      description: Get operation.
      operationId: Operations_Get
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/locationName'
      - description: The name of the operation.
        in: path
        name: name
        required: true
        example: example-value
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - Operations
      summary: Azure DevTest Labs Operations_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    OperationError:
      description: Error details for the operation in case of a failure.
      properties:
        code:
          description: The error code of the operation error.
          type: string
        message:
          description: The error message of the operation error.
          type: string
      type: object
    OperationResult:
      description: An Operation Result
      properties:
        error:
          $ref: '#/components/schemas/OperationError'
          description: Error details for the operation in case of a failure.
        status:
          description: The operation status.
          type: string
        statusCode:
          description: The status code for the operation.
          enum:
          - Continue
          - SwitchingProtocols
          - OK
          - Created
          - Accepted
          - NonAuthoritativeInformation
          - NoContent
          - ResetContent
          - PartialContent
          - MultipleChoices
          - MovedPermanently
          - Redirect
          - SeeOther
          - NotModified
          - UseProxy
          - Unused
          - TemporaryRedirect
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - NotAcceptable
          - ProxyAuthenticationRequired
          - RequestTimeout
          - Conflict
          - Gone
          - LengthRequired
          - PreconditionFailed
          - RequestEntityTooLarge
          - RequestUriTooLong
          - UnsupportedMediaType
          - RequestedRangeNotSatisfiable
          - ExpectationFailed
          - UpgradeRequired
          - InternalServerError
          - NotImplemented
          - BadGateway
          - ServiceUnavailable
          - GatewayTimeout
          - HttpVersionNotSupported
          type: string
          x-ms-enum:
            modelAsString: true
            name: HttpStatusCode
      type: object
    CloudError:
      description: Error from a REST request.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The cloud error that occurred
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: Body of an error from a REST request.
      properties:
        code:
          description: The error code.
          type: string
        details:
          description: Inner errors.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: The error message.
          type: string
        target:
          description: The error target.
          type: string
      type: object
      x-ms-external: true
  parameters:
    locationName:
      description: The name of the location.
      in: path
      name: locationName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    api-version:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        default: '2018-09-15'
    subscriptionId:
      description: The subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Access Microsoft Azure
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: OAuth2 Implicit Grant
